/* ---------- */
*{
    margin:0;
    padding:0;
}

#nav-bar
{
	position:sticky;
	top: 0;
	z-index: 10;
	
	
}

/* Add a black background color to the top navigation bar */
.topnav 
{
  	overflow: hidden;
	
 	
}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: black;
  
}

.navbarNav ul .li
{
	color: white;
	background-color: black;
}

.topnav a 
{
  	background-color: white;
	font-size: 20px;
  
}
.navbar-brand img
{
	height:100px;
	padding-left:0;
	
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
	font-size: 20px;
	
	background-color: black;
	
  	
	
}


#nav-bar ul li a:hover
{
	color:rgb(205, 205, 218)!important;
}

.navbar
{
	background-color: black;
	margin-bottom: 20px;
	
}

.navbar-toggler
{
	border: none;
	
}

.navbar-link
{
	color:#555!important;
	font-weight:600;
	font-size:16px;
}


/* ------ */



.main{
    width:80%;
    margin:0 auto;
    background:#fff;
    padding:100px;
    display:flex;
    justify-content: center;
    box-shadow:0 0 10px rgba(0,0,0,.4);
}
.col{
    font-family:sans-serif;
    width:30%;
    text-align: center;
    box-shadow:0 0 10px rgba(0,0,0,.4);
    padding:50px 20px;
     transition:.6s all; 
}
.col:hover{
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,.6);
}
.col:first-child{
    border-radius: 10px 0 0 10px;
    background:black;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col:hover:first-child{
    box-shadow: -3px -3px 1px 0 rgba(0,0,0,.6);
}
.col:first-child h1,p{
    color:#fff;
}
.col:first-child p{
    width:80%;
}
.col:last-child{
    background: #eee;
    border-radius: 0px 10px 10px 0px;
}
.col:last-child p{
    line-height: 50px;
    margin-bottom: -15px;
    color:#000;
}
form{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    display: block;
    padding:12px;
    border-radius: 8px;
    border:none;
    background: #dededd;
    outline: none;
    margin-top: 8px;
    width:80%;
    font-size: 14px;
}
input:nth-child(4){
    margin-bottom:20px;
}
.input-bottom{
    margin-bottom: 20px;
}
.submitted{
    background: transparent;
    border:1px solid #fff;
    padding:10px 0px;
    width:8rem;
    color:#fff;
    border-radius: 50px;
    background: black;
    transition: .4s all;
}

a{
    background: transparent;
    border:1px solid #fff;
    padding:10px 50px;
    color:#fff;
    border-radius: 50px;
    text-decoration: none;
}

.col:last-child a{
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(to right, #141e30, #243b55);
    transition: .4s all;
}
/* .col:first-child a:hover{
    background: linear-gradient(to right, #141e30, #243b55);
    box-shadow:0 0 10px 0 rgba(0,0,0,.4);
    border:none;
} */
.col:last-child a:hover{
    background: transparent;
    color:#000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
}

@media only screen and (max-width: 800px) {
    .main{
        flex-direction: column;
        width:60%;
    }
    .col{
        width:100%;
    }
}